Repository antoffee/coffee-marketplace: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.css", stylelint "src/**/*.css" --fix

minor fix
  README.md
  package-lock.json
  package.json
Due: none

register popup created
  .editorconfig
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
  public/index.html
  src/App/App.tsx
  src/components/Fields/CustomInputField/CustomInputField.tsx
  src/components/Fields/CustomInputField/CustomInputField.types.ts
  src/components/Fields/CustomInputField/index.ts
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/Navbar.tsx
  src/components/Navbar/Navbar.types.ts
  src/components/Navbar/index.ts
  src/components/RegisterPopup/RegisterPopup.module.scss
  src/components/RegisterPopup/RegisterPopup.tsx
  src/components/RegisterPopup/RegisterPopup.types.ts
  src/components/RegisterPopup/RegisterPopup.utils.ts
  src/components/RegisterPopup/index.ts
  src/hooks/useOutside.ts
  src/index.tsx
  src/pages/RegisterPage/RegisterPage.module.scss
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/RegisterPage/RegisterPage.types.ts
  src/pages/RegisterPage/RegisterPage.utils.ts
  src/shared/constants.ts
  src/utils/disableWindowScroll.ts
  src/utils/isValidEmail.ts
  src/utils/noop.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

axios with redux try, register popup update
  .env
  package-lock.json
  package.json
  src/App/App.tsx
  src/api/axios.ts
  src/api/routes/apiRoutes.ts
  src/api/routes/userApi.ts
  src/api/user/fetchSignUp.ts
  src/components/Counter/Counter.module.css
  src/components/Counter/Counter.tsx
  src/components/Counter/Counter.types.ts
  src/components/Counter/index.ts
  src/components/RegisterPopup/RegisterPopup.module.scss
  src/components/RegisterPopup/RegisterPopup.tsx
  src/components/RegisterPopup/RegisterPopup.types.ts
  src/components/RegisterPopup/RegisterPopup.utils.ts
  src/index.tsx
  src/pages/RegisterPage/RegisterPage.module.scss
  src/pages/RegisterPage/RegisterPage.tsx
  src/pages/RegisterPage/RegisterPage.types.ts
  src/pages/RegisterPage/RegisterPage.utils.ts
  src/store/actions/counter.ts
  src/store/actions/index.ts
  src/store/index.ts
  src/store/reducers/counter.ts
  src/store/reducers/index.ts
  src/store/reducers/profileReducer.ts
  src/store/store.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.css", stylelint "src/**/*.css" --fix

vhodit i vyhodit (fake)
  src/App/App.tsx
  src/components/LoginPopup/LoginPopup.module.scss
  src/components/LoginPopup/LoginPopup.tsx
  src/components/LoginPopup/LoginPopup.types.ts
  src/components/LoginPopup/LoginPopup.utils.ts
  src/components/LoginPopup/index.ts
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/Navbar.tsx
  src/components/ProfilePopover/ProfilePopover.module.scss
  src/components/ProfilePopover/ProfilePopover.tsx
  src/components/ProfilePopover/ProfilePopover.types.ts
  src/components/ProfilePopover/index.ts
  src/components/RegisterPopup/RegisterPopup.types.ts
  src/store/hooks.ts
  src/store/reducers/profileReducer.ts
  src/store/store.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

api types generated, user reducer created
  .env
  .eslintignore
  package-lock.json
  package.json
  src/App/App.tsx
  src/api/user/fetchSignUp.ts
  src/client/core/ApiError.ts
  src/client/core/ApiRequestOptions.ts
  src/client/core/ApiResult.ts
  src/client/core/CancelablePromise.ts
  src/client/core/OpenAPI.ts
  src/client/core/request.ts
  src/client/index.ts
  src/client/models/Body_login_user_api_auth_login_post.ts
  src/client/models/HTTPValidationError.ts
  src/client/models/ProfileUpdateSchema.ts
  src/client/models/ResendCodeRespSchema.ts
  src/client/models/ResendCodeSchema.ts
  src/client/models/SignupRespSchema.ts
  src/client/models/SignupSchema.ts
  src/client/models/TokenSchema.ts
  src/client/models/UserSchema.ts
  src/client/models/ValidationError.ts
  src/client/models/VerifyCodeRequestSchema.ts
  src/client/models/VerifyCodeRespSchema.ts
  src/client/services/AuthService.ts
  src/client/services/ProfileService.ts
  src/client/services/RootService.ts
  src/client/services/UserService.ts
  src/components/LoginPopup/LoginPopup.types.ts
  src/components/Navbar/Navbar.tsx
  src/components/RegisterPopup/RegisterPopup.tsx
  src/store/reducers/profileReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

carousel created
  .env
  package-lock.json
  package.json
  src/App/App.tsx
  src/components/SliderCarousel/SliderCarousel.module.scss
  src/components/SliderCarousel/SliderCarousel.tsx
  src/components/SliderCarousel/SliderCarousel.types.ts
  src/components/SliderCarousel/index.ts
  src/mocks/products.ts
  src/mocks/shops.ts
  src/pages/HomePage/HomePage.module.scss
  src/pages/HomePage/HomePage.tsx
  src/pages/HomePage/HomePage.types.ts
  src/pages/HomePage/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

product type created
  src/assets/not-found-image.jpeg
  src/components/Catalog/Catalog.module.scss
  src/components/Catalog/Catalog.tsx
  src/components/Catalog/Catalog.types.ts
  src/components/Catalog/index.ts
  src/components/SliderCarousel/SliderCarousel.tsx
  src/components/SliderCarousel/SliderCarousel.types.ts
  src/index.css
  src/mocks/products.ts
  src/pages/HomePage/HomePage.tsx
  src/shared/constants.ts
  src/types/product.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.css", stylelint "src/**/*.css" --fix

update API
  src/client/index.ts
  src/client/models/ProductListRespDTO.ts
  src/client/models/ProductListSortByEnum.ts
  src/client/models/ProductRespDTO.ts
  src/client/models/ProfileUpdateReqDTO.ts
  src/client/models/ResendCodeReqDTO.ts
  src/client/models/ResendCodeRespDTO.ts
  src/client/models/ShopAddressDTO.ts
  src/client/models/ShopListRespDTO.ts
  src/client/models/ShopListSortByEnum.ts
  src/client/models/ShopRespDTO.ts
  src/client/models/SignupReqDTO.ts
  src/client/models/SignupRespDTO.ts
  src/client/models/SortOrderEnum.ts
  src/client/models/TokenRespDTO.ts
  src/client/models/UserRespDTO.ts
  src/client/models/VerifyCodeReqDTO.ts
  src/client/services/AuthService.ts
  src/client/services/ProductsService.ts
  src/client/services/ProfileService.ts
  src/client/services/RootService.ts
  src/client/services/ShopService.ts
  src/client/services/UserService.ts
  src/store/reducers/profileReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

product details update
  src/App/App.tsx
  src/mocks/products.ts
  src/pages/ProductDetailsPage/ProductDetailsPage.module.scss
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/pages/ProductDetailsPage/ProductDetailsPage.types.ts
  src/pages/ProductDetailsPage/index.ts
  src/types/product.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

redux try for product details
  .env
  src/client/core/OpenAPI.ts
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/store/reducers/productReducer.ts
  src/store/reducers/shopsReducer.ts
  src/store/store.ts
  src/types/product.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update navbar
  src/components/Navbar/Navbar.module.scss
  src/components/Navbar/Navbar.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix linters
  src/pages/HomePage/HomePage.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update env, some fixes
  .env
  .gitignore
  src/App/App.tsx
  src/components/Catalog/Catalog.tsx
  src/components/LoginPopup/LoginPopup.module.scss
  src/components/RegisterPopup/RegisterPopup.module.scss
  src/index.css
  src/mocks/shops.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/ShopPage/ShopPage.module.scss
  src/pages/ShopPage/ShopPage.tsx
  src/pages/ShopPage/ShopPage.types.ts
  src/pages/ShopPage/index.ts
  src/store/reducers/shopsReducer.ts
  src/utils/createUUID.ts
  src/utils/getShopAddress.ts
  src/utils/sleep.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.css", stylelint "src/**/*.css" --fix

update api
  package.json
  src/client/core/OpenAPI.ts
  src/client/models/ProductRespDTO.ts
  src/client/services/ProductsService.ts
  src/client/services/RootService.ts
  src/client/services/ShopService.ts
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/store/reducers/productReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

types fix
  src/store/reducers/shopsReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update api
  src/client/index.ts
  src/client/models/CartProductDTO.ts
  src/client/models/CartRespDTO.ts
  src/client/models/OrderListSortByEnum.ts
  src/client/models/OrderReceiveKindEnum.ts
  src/client/models/OrderRespDTO.ts
  src/client/models/OrderStatusEnum.ts
  src/client/models/OrdersListRespDTO.ts
  src/client/models/ProductListRespDTO.ts
  src/client/models/ShopProductDTO.ts
  src/client/models/ShopProductsListDTO.ts
  src/client/services/CartService.ts
  src/client/services/OrdersService.ts
  src/client/services/ProductsService.ts
  src/client/services/ProfileService.ts
  src/client/services/RootService.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

requests connected to pages
  src/mocks/products.ts
  src/pages/HomePage/HomePage.tsx
  src/pages/ShopPage/ShopPage.tsx
  src/store/reducers/productReducer.ts
  src/store/reducers/shopsReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

register flow fix
  src/components/RegisterPopup/RegisterPopup.tsx
  src/pages/ShopPage/ShopPage.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

try deps fix
  package.json
  src/store/reducers/cartReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

data load fix
  src/pages/HomePage/HomePage.tsx
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/pages/ShopPage/ShopPage.tsx
  src/store/reducers/cartReducer.ts
  src/store/reducers/productReducer.ts
  src/store/reducers/shopsReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

product details fix
  package-lock.json
  package.json
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/types/product.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

colors update
  src/App/App.tsx
  src/index.css
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.css", stylelint "src/**/*.css" --fix

cart page created
  src/App/App.tsx
  src/components/CartItemCard/CartItemCard.module.scss
  src/components/CartItemCard/CartItemCard.tsx
  src/components/CartItemCard/CartItemCard.types.ts
  src/components/CartItemCard/index.ts
  src/components/Navbar/Navbar.tsx
  src/mocks/products.ts
  src/pages/CartPage/CartPage.module.scss
  src/pages/CartPage/CartPage.tsx
  src/pages/CartPage/CartPage.types.ts
  src/pages/CartPage/index.ts
  src/store/reducers/cartReducer.ts
  src/store/reducers/profileReducer.ts
  src/store/store.ts
  src/types/product.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

orders list started
  src/App/App.tsx
  src/components/ProfilePopover/ProfilePopover.tsx
  src/pages/OrdersListPage/OrdersListPage.module.scss
  src/pages/OrdersListPage/OrdersListPage.tsx
  src/pages/OrdersListPage/OrdersListPage.types.ts
  src/pages/OrdersListPage/index.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update api
  src/client/models/CartProductDTO.ts
  src/client/models/ShopProductDTO.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

orders list page created
  package-lock.json
  package.json
  src/pages/OrdersListPage/OrdersListPage.tsx
  src/utils/formatDate.ts
  src/utils/getReceiveName.ts
  src/utils/getStatusColor.ts
  src/utils/getStatusName.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

order details created
  src/App/App.tsx
  src/components/CartItemCard/CartItemCard.tsx
  src/components/CartItemCard/CartItemCard.types.ts
  src/pages/OrderDetails/OrderDetails.module.scss
  src/pages/OrderDetails/OrderDetails.tsx
  src/pages/OrderDetails/OrderDetails.types.ts
  src/pages/OrderDetails/index.ts
  src/store/reducers/cartReducer.ts
  src/utils/getReceiveName.ts
  src/utils/getStatusColor.ts
  src/utils/getStatusName.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

translated
  src/shared/constants.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update login session
  src/store/reducers/profileReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

update api
  src/client/index.ts
  src/client/models/ResendCodeRespDTO.ts
  src/client/models/SignupRespDTO.ts
  src/client/services/OrderService.ts
  src/client/services/ProductService.ts
  src/client/services/RootService.ts
  src/client/services/UserService.ts
  src/store/reducers/cartReducer.ts
  src/store/reducers/productReducer.ts
  src/store/reducers/shopsReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

try deploy fix
  public/index.html
Due: none

revert try fix because cause bug
  public/index.html
Due: none

auth instance added
  .eslintignore
  src/api/axios.ts
  src/api/routes/apiRoutes.ts
  src/api/routes/userApi.ts
  src/api/user/fetchSignUp.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

api merged
  package.json
  src/client/core/OpenAPI.ts
  src/client/index.ts
  src/client/models/CartProductDTO.ts
  src/client/models/OrderReceiveKindEnum.ts
  src/client/models/OrderStatusEnum.ts
  src/client/models/ShopAddressDTO.ts
  src/client/models/ShopProductDTO.ts
  src/client/services/CartService.ts
  src/client/services/ProductService.ts
  src/client/services/RootService.ts
  src/components/CartItemCard/CartItemCard.tsx
  src/components/CartItemCard/CartItemCard.types.ts
  src/components/SliderCarousel/SliderCarousel.tsx
  src/pages/CartPage/CartPage.tsx
  src/pages/OrderDetails/OrderDetails.tsx
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/store/reducers/cartReducer.ts
  src/store/reducers/productReducer.ts
  src/utils/formatImgUrl.ts
  src/utils/getReceiveName.ts
  src/utils/getStatusColor.ts
  src/utils/getStatusName.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

little beauty fix
  src/components/CartItemCard/CartItemCard.tsx
  src/components/Catalog/Catalog.tsx
  src/index.css
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.css", stylelint "src/**/*.css" --fix

auth works
  src/api/axios.ts
  src/client/core/request.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

unlogged block added
  src/pages/CartPage/CartPage.tsx
  src/pages/HomePage/HomePage.tsx
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

add to cart flow fix
  src/pages/CartPage/CartPage.tsx
  src/pages/OrderDetails/OrderDetails.tsx
  src/pages/ProductDetailsPage/ProductDetailsPage.tsx
  src/store/reducers/cartReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

site web docs added
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: none

auth fix
  src/App/App.tsx
  src/api/axios.ts
  src/components/LoginPopup/LoginPopup.tsx
  src/store/reducers/profileReducer.ts
Due: eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

Path conditions:
  eslint --max-warnings=0 --fix "src/**/*.+(js|jsx|ts|tsx|json)": any of: src/**/*.{ts,tsx}
  prettier --write "src/**/*.+(js|jsx|ts|tsx|json)": any of: src/**/*.{ts,tsx}
  prettier --write "src/**/*.css": any of: src/**/*.css
  stylelint "src/**/*.css" --fix: any of: src/**/*.css
